<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Angular2 Fullstack Starter</title>

        <!--Include the main SCSS file-->
        <link rel="stylesheet" type="text/css" href="bootstrap.scss">
    </head>

    <body>
        <!--Application Tag-->
        <app env="<%=env%>" port="<%=port%>" mockConfigId="<%=mockConfigId%>">Loading...</app>

        <!--Required Shim Scripts-->
        <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
        <script src="/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>

        <script>
            // SystemJS Config
            System.config({
                defaultJSExtensions: true,
                paths: {
                    'angular2-library-starter': '/node_modules/angular2-library-starter/dist/angular2-library-starter.js',
                    '*': '/node_modules/*'
                }
            });
        </script>

        <!--Angular/Other Lib Scripts-->
        <script src="/node_modules/angular2/bundles/angular2.js"></script>
        <script src="/node_modules/angular2/bundles/router.js"></script>
        <script src="/node_modules/angular2/bundles/http.js"></script>

        <!--Any Other Third Party Scripts-->
        <script src="/node_Modules/angular2-library-starter/dist/angular2-library-starter.js"></script>

        <script>
            // Import the entry point of our application
            System.import('./bootstrap.js').catch(console.log.bind(console));
        </script>
    </body>
</html>
