<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Angular2 Fullstack Starter</title>

        <link rel="stylesheet" type="text/css" href="assets/styles/main.scss">
    </head>

    <body>
        <app env="<%=env%>" port="<%=port%>" mockConfigId="<%=mockConfigId%>">Loading...</app>

        <!--Required Shim Scripts
        <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
        <script src="/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
        -->

        <!--Angular/Other Lib Scripts
        <script src="/node_modules/rxjs/bundles/Rx.min.js"></script>
        <script src="/node_modules/angular2/bundles/angular2.min.js"></script>
        <script src="/node_modules/angular2/bundles/router.js"></script>
        <script src="/node_modules/angular2/bundles/http.min.js"></script>
        -->

        <!--Any Other Third Party Scripts-->
        <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
        <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/node_modules/rxjs/bundles/Rx.js"></script>
        <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>
        <script src="/node_modules/angular2/bundles/router.dev.js"></script>
        <script>
            System.config({
                baseURL: '/node_modules',
                warnings: true
            });
            System.import('./bootstrap.js').catch(console.log.bind(console));
        </script>
    </body>
</html>
